@import "tailwindcss";
/* styles/globals.css */

/* Self-hosting Indie Flower font */
@font-face {
  font-family: 'Indie Flower';
  src: url('/fonts/IndieFlower-Regular.woff2') format('woff2'),
       url('/fonts/IndieFlower-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply Indie Flower font globally */
* {
  font-family: 'Indie Flower', cursive;
}

body {
  background-color: oklch(0.98 0.016 73.684);
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}